body {
    padding: 80px;
    max-width: 500px;
    margin: auto;
    background-color: rgb(2,45,65);
    font-family: monospace;
    font-size: larger;
}

h2 {
    color: white;
}

label {
    color: white;
}

button {
    border-radius: 3em;
}

input.rest[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

div {
    display: inline-block;
}

.col1 {
    width: 18em;
}



