body {
    padding: 50px;
    max-width: 900px;
    margin: auto;
    background-color: rgb(2,45,65);
    font-family: monospace;
    font-size: larger;
}

h2, #stateMessage, #runningMessage, #filenameMessage, #nthMessage, #uploadMessage, #connectAddress {
    color: white;
}

label {
    color: white;
}

#filelist {
    color: white;
}

input.rest[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

div {
    vertical-align: text-top;
    display: inline-block;
}

.col1 {
    width: 16em;
}

#stateMessage, #runningMessage, #filenameMessage, #nthMessage, #uploadMessage {
    font-size: small;
}


#fileupload {
    color: darkorange;
}



